// https://niri-wm.github.io/niri/Configuration%3A-Miscellaneous.html
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
environment {
    XDG_CURRENT_DESKTOP "niri"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_QPA_PLATFORMTHEME_QT6 "gtk3"
}
overview {
    workspace-shadow {
        off
    }
}
clipboard {
    disable-primary
}
hotkey-overlay {
    skip-at-startup
}
gestures {
    hot-corners {
        off
    }
}
debug {
    honor-xdg-activation-with-invalid-serial
}
