// https://niri-wm.github.io/niri/Configuration%3A-Introduction.html
input {
    keyboard {
        xkb {

        }
        numlock
    }
    touchpad {
        tap
        dwt
    }
    mouse {

    }
}
/-output "eDP-1" {}
layout {
    focus-ring {

    }
    border {
        off
    }
    shadow {
        on
        draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}
recent-windows {
    debounce-ms 0
    open-delay-ms 0
    binds {
        Mod+Tab {
            next-window scope="output"
        }
        Mod+Shift+Tab {
            previous-window scope="output"
        }
        Mod+grave {
            next-window scope="output" filter="app-id"
        }
        Mod+Shift+grave {
            previous-window scope="output" filter="app-id"
        }
    }
}
include "config/binds.kdl"
include "config/misc.kdl"
include "config/rules.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/colors.kdl"
include "dms/cursor.kdl"
include "dms/layout.kdl"
include "dms/outputs.kdl"
include "dms/windowrules.kdl"
include "dms/wpblur.kdl"
